body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: brown;
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: brown;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.section-title {
    font-family: 'Playwrite AU TAS', sans-serif;
}

#sobre-o-restaurante, #cardapio {
    background-color: rgb(255, 221, 221);
}

.text-colored {
    color: brown;
}

.nav-cardapio .nav-link.active,
#contato button {
    background-color: brown;
    color: white;
}

.nav-cardapio .nav-link:hover {
    background-color: brown;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
